{% extends 'user_app/base.html' %}
{% block title %}
    Formani to'ldirish
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">Bosh Sahifa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:;">Maqola yuborish</a></li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Maqola yuborish formasini to'ldirish <small>header small text goes here...</small></h1>
        <!-- end page-header -->
        <!-- begin wizard-form -->
        <form method="POST" name="form-wizard" class="form-control-with-bg" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <!-- begin wizard -->
            <div id="wizard">
                <!-- begin wizard-step -->
                <ul>
                    <li>
                        <a href="#step-1">
                            <span class="number">1</span>
                            <span class="info">
                               Davlat Test Markazi
									<small>Name, Address, IC No and DOB</small>
								</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="number">2</span>
                            <span class="info">
									Submission Agreement
									<small>Name, Address, IC No and DOB</small>
								</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="number">3</span>
                            <span class="info">
									Provide information about yourself
									<small>about you...</small>
								</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="number">4</span>
                            <span class="info">
									Completed
									<small>Complete Registration</small>
								</span>
                        </a>
                    </li>
                </ul>
                <!-- end wizard-step -->
                <!-- begin wizard-content -->
                <div>
                    <!-- begin step-1 -->
                    <div id="step-1">
                        <!-- begin fieldset -->
                        <fieldset>
                            <!-- begin row -->
                            <div class="row">
                                <!-- begin col-8 -->
                                <div class="col-xl-8 offset-xl-2">
                                    <p>
                                        {{ shartnoma1.body|safe }}
                                    </p>
                                </div>
                                <!-- end col-8 -->
                            </div>
                            <!-- end row -->
                        </fieldset>
                        <!-- end fieldset -->
                    </div>
                    <!-- end step-1 -->
                    <!-- begin step-2 -->
                    <div id="step-2">
                        <!-- begin fieldset -->
                        <fieldset>
                            <!-- begin row -->
                            <div class="row">
                                <!-- begin col-8 -->
                                <div class="col-xl-8 offset-xl-2"
                                     style="border: 1px solid #c9c9c9; background-color: #f1f1f1; border-radius: 5px; padding: 10px 30px 40px 30px">
                                    <p>
                                        {{ shartnoma2.body|safe }}
                                    </p>
                                </div>
                                <!-- end col-8 -->
                            </div>
                            <br>
                            <!-- end row -->
                            <div class="row">
                                <div class="col-xl-8 offset-xl-2">
                                    <div class="note note-warning note-with-right-icon m-b-15">
                                        <div class="note-content">
                                            <p>
                                                Please click <b>Next</b> if you accept the policies and terms of this
                                                agreement, and continue with the next step in the submission process.
                                            </p>
                                            <p>
                                                Please click <b>Decline</b> if you do not accept the terms.
                                            </p>
                                        </div>
                                        <div class="note-icon"><i class="fa fa-lightbulb"></i></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- end fieldset -->
                    </div>
                    <!-- end step-2 -->
                    <!-- begin step-3 -->
                    <div id="step-3">
                        <!-- begin fieldset -->
                        <fieldset>
                            <!-- begin row -->
                            <div class="row">
                                <!-- begin col-8 -->
                                <div class="col-xl-8 offset-xl-2">
                                    <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Required
                                        fields are marked with an *.
                                    </legend>

                                    <!-- begin form-group -->
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Aftor <span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <select id="id_author" name="author" class="form-control">
                                                        <option selected value="{{ user.id }}">{{ user.email }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- end form-group -->
                                    <!-- begin form-group -->
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Kategoriya</label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.category }}
                                        </div>
                                    </div>
                                    <!-- end form-group -->
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Mavzu <span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.title|safe }}
                                        </div>
                                    </div>
                                    <!-- end form-group -->
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Abstrakt <span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.abstract|safe }}
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Kalit so'zlar <span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.keywords|safe }}
                                        </div>
                                    </div>
                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">Foydalanilgan adabiyotlar
                                            <span
                                                    class="text-danger">*</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            {{ form.references|safe }}
                                        </div>
                                    </div>

                                    <div class="form-group row m-b-10">
                                        <label class="col-lg-3 text-lg-right col-form-label">File </label>
                                        <div class="col-lg-9">
                                            <input type="file" name="avatar" class="form-control" id="id_avatar"
                                               style="width: 400px"
                                               accept=".docx, .doc, .rtf, .pdf">
                                        </div>
                                    </div>

                                </div>
                                <!-- end col-8 -->
                            </div>
                            <!-- end row -->
                        </fieldset>
                        <!-- end fieldset -->
                    </div>
                    <!-- end step-3 -->
                    <!-- begin step-4 -->
                    <div id="step-4">
                        <div class="jumbotron m-b-0 text-center">
                            <h2 class="display-4">Register Successfully</h2>
                            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                                consequat commodo porttitor. <br/>Vivamus eleifend, arcu in tincidunt semper, lorem odio
                                molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus
                                ullamcorper, quis luctus leo sollicitudin. </p>
                            <p>
                                <button type="submit" class="btn btn-primary btn-lg">Proceed to User Profile</button>
                            </p>
                        </div>
                    </div>
                    <!-- end step-5 -->
                </div>
                <!-- end wizard-content -->
            </div>
            <!-- end wizard -->
        </form>
        <!-- end wizard-form -->
    </div>
{% endblock %}