{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Maqola holatlari ro'yxati" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "Maqola holatlari ro'yxati" %}
        </h2>

        <div class="panel-body forshadow" style="background-color: #ffffff; border-radius: 5px; padding: 10px;">
            <div class="container">
                <table class="table table-hover table-fixed table-responsive-lg">
                    <thead>
                    <tr>
                        <th><strong>{% trans "Tr" %}</strong></th>
                        <th><strong>{% trans "Nomi" %}</strong></th>
                        <th><strong>{% trans "Bosqich" %}</strong></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if objects.count > 0 %}
                        {% for item in objects %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.stage.name }}</td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm">{% trans "O'zgartirish" %}</button>
                                    <button type="button" class="btn btn-danger btn-sm">{% trans "O'chirish" %}</button>
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}