<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="{% static '/assets/css/forum/app.min.css' %}" rel="stylesheet"/>
    <!-- ================== END BASE CSS STYLE ================== -->

</head>
<body style="background-color: #F8F9FC">
{% include 'article_app/includes/navbar.html' %}
{% include 'article_app/includes/banner.html' %}
<div class="content">
	<div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'article_app/includes/left_sidebar.html' %}
            </div>
            <div class="col-lg-9">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
</div>
{% include 'article_app/includes/footer.html' %}

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'assets/js/forum/app.min.js' %}"></script>
<script src="{% static 'assets/js/theme/google.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->

</body>
</html>