{% extends 'article_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Bog'lanish" %}
{% endblock %}
{% block content %}
    <div class="row"
         style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
        <div class="container">
            <br>
            <center><h4 class="title">{% trans "Bog'lanish" %}</h4></center>
            <br>
            <p>
                 Tel: (+998 71) 235-74-85<br>

                 t/me: nsfla_uz<br>

                 E-mail: nafl@dtm.uz<br>

                 Fax: (+998 71) 234-71-84<br>

                 12 Bogishamol street, Tashkent city, 100084<br>

                 Monday - Friday 10.00 - 17.00<br>

                 Lunch time 13.00 - 14.00<br>
            </p>
            {% include 'article_app/includes/social_buttons.html' %}
        </div>
    </div>
    <br>
{% endblock content %}