{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Maqolalarim
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">"{% trans "Bosh sahifa" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Maqola yuborish" %}</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">{% trans "Maqola yuborish" %}</h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-default forshadow" data-sortable-id="table-basic-7">
            <!-- begin panel-heading -->
            <div class="panel-heading" style="background-color: #FFFFFF">
                <h4 class="panel-title">
                    <button href="{% url 'create_article' %}" data-toggle="modal"
                            class="addUser btn btn-success btn-sm"><i
                            class="fa fa-plus mr-1"></i>{% trans "Yangi maqola yuborish" %}
                    </button>

                </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <!-- begin table-responsive -->
                <div class="table-responsive">
                    <table
                            class="table table-td-valign-middle table-hover table-bordered">
                        <thead>
                        <tr class="text-center" style="background-color: #F5F5F5;">
                            <th>ID</th>
                            <th>{% trans "Mavzu" %}</th>
                            <th>{% trans "Fayl" %}</th>
                            <th>{% trans "Birinchi yuborilgan" %}</th>
                            <th>{% trans "Qayta yuborilgan" %}</th>
                            <th>{% trans "Holat" %}</th>
                            <th width="1%">{% trans "Actions" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if is_have and send_mylast_article is not None %}
                            <tr class="text-center">
                                <td>{{ send_mylast_article.id }}</td>
                                <td>{{ send_mylast_article.article.title|slice:100 }}</td>
                                <td>{{ send_mylast_article.file_word }}</td>
                                <td>{{ send_mylast_article.article.created_at }}</td>
                                <td>{{ send_mylast_article.created_at }}</td>
                                <td>
                                        <span
                                                {% if send_mylast_article.state.id == 4 %}
                                                    title="Sizni maqolangiz 14 ish kunida ko'rib chiqiladi"
                                                    data-toggle="tooltip"
                                                {% endif %}
                                                    class="badge
                                        {% if send_mylast_article.state.id == 1 %} 
                                            badge-indigo
                                        {% elif send_mylast_article.state.id == 3 %} 
                                            badge-success 
                                        {% elif send_mylast_article.state.id == 2 %}
                                            badge-danger 
                                        {% elif send_mylast_article.state.id == 4 %} 
                                            badge-warning 
                                        {% endif %}"
                                                    style="font-size: 10px;">{{ send_mylast_article.state.name }}
                                        </span>
                                </td>
                                <td class="with-btn" nowrap>
                                    <a
                                            {% if send_mylast_article.state.id != 5 %}
                                                hidden
                                            {% endif %}
                                                title="Qayta yuborish"
                                                href="{% url 'resend_article' send_mylast_article.pk %}"
                                                data-toggle="tooltip" class="btn btn-indigo btn-xs"><i
                                            class="fa fa-upload mr-1"></i>
                                    </a>

                                    {% if send_mylast_article.state.name == "Yuborildi" %}
                                        <a href="{% url 'update_resend_article' send_mylast_article.id %}"
                                           title="O'zgartirish"
                                           data-toggle="tooltip"
                                           style="color: #3c9a06"><i class="fas  fa-fw m-r-15 fa-pencil-alt"></i>
                                        </a>
                                    {% endif %}
                                    {% if send_mylast_article.state.name == "Yuborildi" or send_mylast_article.state.name == "Qayta yuborish" %}
                                        <a href="{% url 'delete_myarticle' send_mylast_article.id %}" title="O'chirish"
                                           data-toggle="tooltip"
                                           class="userModal"
                                           style="color: #f83333"><i
                                                class="fas  fa-fw m-r-15 fa-trash-alt"></i>
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% else %}
                            <tr class="text-center">
                                <td colspan="7">No article</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                    {% if is_have and send_mylast_article is not None %}
                        <div style="padding: 1%; border-radius: 5px;">
                            <p style="font-family: Trebuchet MS, Helvetica, sans-serif;"><img
                                    src="{% static 'img/message.png' %}" width="50">
                                <b>Xabar: </b>
                                {% if send_mylast_article.message is None %} {% trans "Sizga xabar yo'q." %} {% else %}
                                    {{ send_mylast_article.message }}{% endif %}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <!-- end table-responsive -->
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
        <br>
        {% if is_have and my_resends.count > 0 %}
            <!-- begin panel -->
            <div class="panel panel-default forshadow" data-sortable-id="table-basic-7">
                <!-- begin panel-heading -->
                <div class="panel-heading" style="background-color: #FFFFFF">
                    <h4 class="panel-title" style="text-transform:uppercase;">
                        {% trans "Yuborilganlar tarixi" %}
                    </h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table
                                class="table table-td-valign-middle table-hover table-bordered">
                            <tbody>
                            {% for item in my_resends %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.article.title }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>
                                        <span class="badge 
                                            {% if item.state.id == 1 %} badge-indigo
                                            {% elif item.state.id == 3 %} badge-success 
                                            {% elif item.state.id == 2 %} badge-danger 
                                            {% elif item.state.id == 4 %} badge-warning 
                                            {% endif %}" style="font-size: 10px;">
                                            {{ item.state.name }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        {% endif %}
    </div>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>