{% load static %}
<!-- begin search-banner -->
<div class="search-banner has-bg">
    <!-- begin bg-cover -->
    <div class="bg-cover" data-paroller="true" data-paroller-factor="0.5" data-paroller-factor-xs="0.01"
         style="background-image: url({% static '/assets/img/cover/cover-1.jpg' %})"></div>
    <!-- end bg-cover -->
    <!-- begin container -->
    <div class="container">
        <h1>Axborotnoma</h1>
        <div class="input-group">
            <input type="text" class="form-control form-control-lg" placeholder="Izlash..."/>
            <span class="input-group-append">
				<button type="submit" class="btn btn-lg"><i class="fa fa-search"></i></button>
				</span>
        </div>
        <h5 class="f-s-14 m-b-10">Browse by Popular Categories</h5>
    </div>
    <!-- end container -->
</div>
<!-- end search-banner -->