{% load i18n %}
{% load static %}

<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'img/dtm.jpeg' %}" alt=""/>
        </a>
    </div>

    <ul class="navbar-nav d-flex flex-grow-1">
        <li style="padding-top: 20px;">
            <span style="text-transform: uppercase; margin-left: 1em;  text-align: center; display: table-cell; vertical-align: middle;">
                <b>Onlayn axborotnoma jurnal</b>
			</span>
        </li>
        <li class="navbar-form flex-grow-1"></li>
        <li class="navbar-brand">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="lang_btn"
                        data-toggle="dropdown">
                    {% if LANGUAGE_CODE == 'uz' %}
                        <span class="flag-icon flag-icon-uz"></span>
                        O'zbek tili
                    {% elif LANGUAGE_CODE == 'ru' %}
                        <span class="flag-icon flag-icon-ru"></span>
                        Русский
                    {% elif LANGUAGE_CODE == 'en' %}
                        <span class="flag-icon flag-icon-gb"></span>
                        English
                    {% elif LANGUAGE_CODE == 'kk' %}
                        <span><img src="{% static 'img/qq.png' %}" alt="" width="22"/></span>
                        Qoraqalpoq tili
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for language in languages %}
                        <li id="lang_{{ language.code }}">

                            <a href="{% url 'set-language' language.code %}" class="btn btn-white btn-block">
                                {% if language.code != 'kk' %}
                                    <span class="flag-icon flag-icon-{% if language.code == 'en' %}gb{% else %}{{ language.code }}{% endif %}"></span>
                                {% else %}
                                    <span><img src="{% static 'img/qq.png' %}" alt="" width="22"/></span>
                                {% endif %}
                                {% if language.code == 'kk' %}
                                    Qoraqalpoq tili
                                {% else %}
                                    {{ language.name_local }}
                                {% endif %} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ request.user.avatar.url }}" alt=""/>
                <span class="d-none d-md-inline">{{ request.user.full_name }}</span> <b
                    class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'edit_profile' %}" class="dropdown-item"><i
                        class="icon-people p-r-10"></i><span>{% trans "Mening ma'lumotlarim" %}</span></a>
                <a href="{% url 'main_page' %}" class="dropdown-item"><i
                        class="icon-home p-r-10"></i><span>{% trans "Bosh sahifaga qaytish" %}</span></a>
                <a href="{% url 'logout' %}" class="dropdown-item"><i
                        class="icon-logout  p-r-10"></i><span>{% trans "Log out" %}</span></a>
            </div>
        </li>
    </ul>
    <!-- end header-nav -->
</div>