{% load i18n %}
{% load static %}

<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'img/dtm.jpeg' %}" style="width: 100px; visibility: hidden;" alt="">
            <img src="{% static 'img/version.png' %}" alt=""/>
        </a>
    </div>

    <!-- end navbar-header --><!-- begin header-nav -->
    <ul class="navbar-nav d-flex flex-grow-1">
        <li style="padding-top: 20px;">
            <span style="text-transform: uppercase; margin-left: 1em;  text-align: center; display: table-cell; vertical-align: middle;">
                <b>Onlayn axborotnoma jurnal</b>
			</span>
        </li>
        <li class="navbar-form flex-grow-1"></li>
        <li class="navbar-brand">
            {% include "lang.html" %}
        </li>
        <li class="dropdown">
            
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-bell"></i>
                    <span class="notif_count label label-primary"></span>
                   
                </a>
                <div class="dropdown-menu media-list dropdown-menu-right">
                    <div class="dropdown-header">Notifications (<span class="notif_count"></span>)</div>

                    <div id="notif_body" class="widget-chat-body">

                    </div>
                    <div class="dropdown-footer text-center">
                        <a href="#">{% trans "View more" %}</a>
                    </div>
                </div>
                </li>
            

        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ request.user.avatar.url }}" alt=""/>
                <span class="d-none d-md-inline">{{ request.user.full_name }}</span> <b
                    class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'dashboard' %}" class="dropdown-item"><i
                        class="icon-people p-r-10"></i><span>{% trans "Profile" %}</span></a>
                <a href="{% url 'main_page' %}" class="dropdown-item"><i
                        class="icon-home p-r-10"></i><span>{% trans "Home" %}</span></a>
                <a href="{% url 'logout' %}" class="dropdown-item"><i
                        class="icon-logout  p-r-10"></i><span>{% trans "Log out" %}</span></a>
            </div>
        </li>
    </ul>
    <!-- end header-nav -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'count_notification' %}",
                success: function (response) {
                    $('.notif_count').text(response.count_unread_notifications);
                    $("#notif_body").empty();
                    
                    for (let item of response.notifications) {
                        let time_tz = new Date(item.created_at);
                        let time = time_tz.toLocaleString();
                        let temp = `<a class="dropdown-item media" href='/profile/notification/${item.id}/view'>`
                            + `<div class="media-left">`
                            + `<img src="/media/${item.from_user__avatar}" class='media-object' alt='' /><i class="fab fa-facebook-messenger text-blue media-object-icon"></i>`
                            + `</div>`
                            + `<div class="media-body">`
                            + `<h6 class="media-heading">` + item.from_user__last_name + ` ` + item.from_user__first_name + `</h6>`
                            + `<div class="text-muted f-s-12"><span>` + time + `</span></div>`
                            + `</div>`
                            + `</a>`;
                        $("#notif_body").append(temp);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }, 10000);
    });
</script>