{% load i18n %}
{% load menu_tag %}
{% get_sub_menus as sub_menus %}
<ul class="nav">
    <li class="nav-header">{% trans "Shaxsiy Kabinet" %}</li>
    {% for menu in allow_menus %}
        {% if menu.type_menu == 0 %}
            <li>
                <a href="{{ menu.get_absolute_url }}">
                    {% if menu.id == 4 or menu.id == 18 %}
                        <span class="notif_count badge bg-danger pull-right"
                              style="color: white; font-size:14px;"></span>
                    {% endif %}
                    <i class="material-icons">{{ menu.icon }}</i>
                    <span>{{ menu.name }}</span>
                </a>
            </li>
        {% endif %}

        {% if menu.type_menu == 1 %}
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="material-icons">{{ menu.icon }}</i>
                    <span>{{ menu.name }}</span>
                </a>
                <ul class="sub-menu">
                    {% for item in sub_menus %}
                        {% if item.type_menu == 2 and item.parent_id == menu.id %}
                            <li>
                                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

    {% endfor %}
</ul>