{% load static %}
{% load menu_tag %}
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{{ request.user.avatar.url }}" alt=""/>
                    </div>
                    <div class="info">
                        <b>{{ request.user.last_name }} {{ request.user.first_name }}</b>
                        <small>{{ request.user.role }}</small>
                    </div>
                </a>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        {% get_allow_menus request.user.role.pk %}
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>