{% load static %}
{% load menu_tag %}
<div id="sidebar" class="sidebar" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{{ request.user.avatar.url }}" alt=""/>
                    </div>
                    <div class="info">
                        <b>{{ request.user.full_name }}</b>
                        <small>{{ request.user.role }}</small>
                    </div>
                </a>
            </li>
        </ul>
        {% get_allow_menus request.user.role.pk %}
    </div>
</div>
<div class="sidebar-bg"></div>