{% load static %}
{% load i18n %}
{% with request.resolver_match.url_name as url_name %}
    <div id="sidebar" class="sidebar"
         style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
     rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <div data-scrollbar="true" data-height="100%">
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img src="{{ request.user.avatar.url }}" alt=""/>
                        </div>
                        <div class="info">
                            <b>{{ request.user.full_name }}</b>
                            <small>{{ request.user.roles.first.name }}</small>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-header">Personal Cabinet</li>
            </ul>
            <ul class="nav" id="menu_sidebar"></ul>
        </div>
    </div>
    <div class="sidebar-bg"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('body').ready(function () {
            let url = '{{ url_name }}'.toString();
            $.ajax({
                type: 'GET',
                url: '/profile/load_menus/',
                success: function (response) {
                    $('#menu_sidebar').empty();
                    for (let item of response.menus) {
                        let temp = `<li id="menu_${item.id}">` +
                            `<a href="${item.url}">` +
                            `<i class="material-icons">${item.icon_name}</i><span>${item.name}</span>` + `</a></li>`;
                        $('#menu_sidebar').append(temp);

                        if (url === item.url_name.toString()) {
                            $('#menu_' + item.id).addClass("active");
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endwith %}