{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Maqola tekshirish" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "Maqola tekshirish" %}
        </h2>

        <div class="panel panel-default forshadow">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table>
                            <tr>
                                <td><p><b>{% trans "Mavzu:" %} </b>{{ article.title|safe }}</p></td>
                            </tr>
                            <tr>
                                <td><b>{% trans "Aftorlar:" %} </b></td>
                            </tr>
                            {% for author in authors %}
                                <tr>
                                    <td>{{ forloop.counter }}. {{ author.lname }} {{ author.fname }}
                                        ({{ author.work }})
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><p></p><b>{% trans "Abstract:" %} </b>{{ article.abstract|safe }}</td>
                            </tr>
                            <tr>
                                <td><b>{% trans "Kalit so'zlar:" %} </b>{{ article.keywords|safe }}</td>
                            </tr>
                            <br>
                            <tr>
                                <td><b>{% trans "MS word fayl:" %} </b><a class="btn btn-outline-info btn-sm"
                                                                          href="{{ article.file.url }}"
                                                                          download
                                                                          role="button"><span>{% trans "Yuklab olish" %}</span></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div> 
                <hr>
                <div class="row d-flex justify-content-center">
                    <button type="button" data-id="{{ article.id }}" id="view-article-messages" class="btn btn-md btn-info">
                        <i class="fa fa-comment"></i>  LOAD MESSAGES OF AUTHOR AND REVIEWER</button>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-12 col-lg-6" style="display: none;" id="MessageBoxEditor1">
                            <!-- begin widget-chat -->
                            <div class="m-b-10 m-t-10 f-s-12">
                                <h5 class="text-inverse">Author Messages</h5>
                            </div>
                
                            <div class="widget-chat widget-chat-rounded m-b-30" data-id="widget">
                
                                <!-- begin widget-chat-header -->
                                <div class="widget-chat-header">
                                    <div class="widget-chat-header-icon">
                                        <i class="fa fa-book width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner"
                                           style="line-height: 30px"></i>
                                    </div>
                                    <div class="widget-chat-header-content">
                                        <h4 class="widget-chat-header-title">Ilmiy Markaz</h4>
                                    </div>
                                    <div class="widget-chat-header-content">
                                        <button type="button" data-id="{{ article.id }}" class="btn btn-sm btn-info editorWrite-message-btn" style="float:right;">SEND MESSAGE</button>
                                    </div>
                                </div>
                                <!-- end widget-chat-header -->
                
                                <!-- begin widget-chat-body -->
                                <div class="widget-chat-body" data-scrollbar="true" data-height="250px" id="editor_chat_body1">
                
                
                                </div>
                                <!-- end widget-chat-body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-12 col-lg-6" style="display: none;" id="MessageBoxEditor2">
                            <!-- begin widget-chat -->
                            <div class="m-b-10 m-t-10 f-s-12">
                                <h5 class="text-inverse">Reviewer Messages</h5>
                            </div>
                
                            <div class="widget-chat widget-chat-rounded m-b-30" data-id="widget">
                
                                <!-- begin widget-chat-header -->
                                <div class="widget-chat-header">
                                    <div class="widget-chat-header-icon">
                                        <i class="fa fa-book width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner"
                                           style="line-height: 30px"></i>
                                    </div>
                                    <div class="widget-chat-header-content">
                                        <h4 class="widget-chat-header-title">Ilmiy Markaz</h4>
                                    </div>
                                    <div class="widget-chat-header-content">
                                        <button type="button" data-id="{{ article.id }}" class="btn btn-sm btn-info editorWrite-message-btn2" style="float:right;" {% if article.article_status.id == 1 %} disabled {% endif%}>SEND MESSAGE</button>
                                    </div>
                                </div>
                                <!-- end widget-chat-header -->
                
                                <!-- begin widget-chat-body -->
                                <div class="widget-chat-body" data-scrollbar="true" data-height="250px" id="editor_chat_body2">
                
                
                                </div>
                                <!-- end widget-chat-body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12 col-lg-6">
                            <br>
                            <hr>
                            <div class="m-b-10 m-t-10 f-s-12">
                                <h5 class="text-inverse">Send to Reviewers. Minimum two Reviewers</h5>
                            </div>
                
                            <div class="jumbotron">
                                <div class="form-group row m-b-10 align-items-center">
									<label class="col-md-3 col-form-label"><h4>Choosing Types</h4></label>
									<div class="col-md-9">
										<div class="form-check form-check-inline" style="border:5px solid white; padding:10px; border-radius:10px;">
											<input class="form-check-input" type="radio" name="radio_reviewer" id="Radio1" value="1" style="box-shadow:0 0 5px 0px gray inset; border-radius:50%; border:1px solid darkgray; width:20px; height:20px; outline:none;"/>
											<label class="form-check-label" for="defaultInlineRadio1">Search Email</label>
										</div>
										<div class="form-check form-check-inline" style="border:5px solid white; padding:10px; border-radius:10px;">
											<input class="form-check-input" type="radio" name="radio_reviewer" id="Radio2" value="2" style="box-shadow:0 0 5px 0px gray inset; border-radius:50%; border:1px solid darkgray; width:20px; height:20px; outline:none;"/>
											<label class="form-check-label" for="defaultInlineRadio2">Random Choosing</label>
										</div>
									</div>
								</div>
                                <br>
                               
                                <form method="post" id="choose_reviewer_form">
                                    {% csrf_token %}
                                    <div class="widget-todolist widget-todolist-rounded m-b-30" data-id="widget" id="list_reviewers" style="display: none;">
                                        <!-- begin widget-todolist-header -->
                                        <div class="widget-todolist-header">
                                            <div class="widget-todolist-header-left">
                                                <h4 class="widget-todolist-header-title">Reviewers</h4>
                                            </div>
                                            <div class="widget-todolist-header-right">
                                                <div class="widget-todolist-header-total" id="count_reviewer"></div>
                                            </div>
                                        </div>
                                        <!-- end widget-todolist-header -->
                                        <!-- begin widget-todolist-body -->
                                        <div class="widget-todolist-body" id="widget-todolist-body">
    
    
                                        </div>
                                        <!-- end widget-todolist-body -->
                                        <div class="widget-todolist-item">
                                            <div class="widget-todolist-input">
                                                <button type="button" data-id="{{ article.id }}" class="btn btn-success" 
                                                id="send_btn_to_reviewer" {% if article.article_status.id == 4 %} disabled {% endif%}>
                                                SEND TO SELECTED REVIEWERS</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="container" id="random_btn" style="display: none;">
                                    <button class="btn btn-lg btn-info" id="random_btn" {% if article.article_status.id == 4 %} disabled {% endif%}>Generate Random Choosing Reviewers</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="writeeditor_message_div"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('body').on('click', '#send_btn_to_reviewer', function(e){
            e.preventDefault();

            let article_id = $(this).data('id');

            let selected = [];
            $('#widget-todolist-body input[type=checkbox]').each(function() {
                if ($(this).is(":checked")) {
                    selected.push($(this).val());
                    }
                });

            let n = selected.length;

            if (n < 2){
                alert("2 tadan kam odam tanladiz");
            }

            if (n > 5){
                alert("5 tadan kop odam tanladiz");
            }

            if (n >= 2 && n <=5){
                $('.editorWrite-message-btn2').removeAttr('disabled');
                $.ajax({
                    type : "POST", 
                    url: "/profile/sending_reviewer/",
                    data: {
                        reviewers : selected,
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                        article_id:{{ article.id }}
                    },
                    success: function(response){
                        if(response.is_valid){
                            $('#send_btn_to_reviewer').prop("disabled", true);
                            $('#random_btn').prop("disabled", true);
                            swal({
                                title: response.message,
                                timer: 1500,
                            });
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function(error){
                        console.log(error);
                    }
                
                    });
            }
            
        });

        $('input:radio[name="radio_reviewer"]').change(function(){

            if ($(this).val() == '1') {
                $('#list_reviewers').css("display", "block");
                $('#random_btn').css("display", "none");

                $.ajax({
                    type: 'GET',
                    url: "/profile/load_reviewers/",
                    success: function (response) {
                        $('#widget-todolist-body').empty();
                        $('#count_reviewer').html("<span>" + response.reviewers.length + "</span><small>Count</small>");
                        

                        for(let item of response.reviewers){
                            let widget_item = `<div class="widget-todolist-item">` + 
                                `<div class="widget-todolist-input"><div class="checkbox checkbox-css pt-0">`+
                                    `<input type="checkbox" id="widget_todolist_${item.id}" name="reviewer_checkbox" value="${item.id}"/><label for="widget_todolist_${item.id}" class="p-l-15">&nbsp;</label></div></div>` +
                                    `<div class="widget-todolist-content"><h4 class="widget-todolist-title">` + item.user__last_name + " " + item.user__first_name + `</h4><p class="widget-todolist-desc">${item.user__email}</p></div>`
                                + `</div>`;

                                $('#widget-todolist-body').append(widget_item);
                        }
                    },
                    error: function (error) {
                        console.log("Xatolik");
                        console.log(error);
                    }
                });
            }

            if ($(this).val() == '2')  {
                $('#list_reviewers').css("display", "none");
                $('#random_btn').css("display", "block");
            }

        });


        $('body').on('click', '#view-article-messages', function(e){
            e.preventDefault();
            $('#MessageBoxEditor1').css('display', 'block');
            $('#MessageBoxEditor2').css('display', 'block');
            let id = $(this).data('id');
        
                    $.ajax({
                        type: "GET",
                        url: "/profile/article_notification/view/" + id + "/",
                        success: function (response) {
                            console.log(response);
                            $('#editor_chat_body1').empty();
                            $('#editor_chat_body2').empty();
        
                           for(let item of response.notifications){
        
                            let time_tz = new Date(item.created_at);
                            let time_string = time_tz.toLocaleDateString();
                            console.log(time_string);
        
                                if(response.current_user_id === item.from_user__id){
        
                                    let temp1 = `<div class="widget-chat-item right"><div class="widget-chat-info"><div class="widget-chat-info-container"><div class="widget-chat-name text-indigo">`
                                         + item.from_user__email + 
                                         `</div><div class="widget-chat-message">` 
                                            + item.message + 
                                            `</div><div class="widget-chat-time">` 
                                                + time_string + 
                                                `</div></div></div></div>`;
        
                                    $('#editor_chat_body1').append(temp1); 
                                    $('#editor_chat_body2').append(temp1); 
                                }
        
                                if(response.current_user_id === item.to_user__id){
                                    console.log("menga");
        
                                    let temp2 = `<div class="widget-chat-item left"><div class="widget-chat-info"><div class="widget-chat-info-container"><div class="widget-chat-name text-indigo">` + item.from_user__email + `</div><div class="widget-chat-message">` + item.message + `</div><div class="widget-chat-time">` + time_string + `</div></div></div></div>`;
                                    $('#editor_chat_body1').append(temp2); 
                                    $('#editor_chat_body2').append(temp2); 
                                }
                            }
                        
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });

        });

        $('body').on('click', '.editorWrite-message-btn', function (e) {
            e.preventDefault();
    
            let id = $(this).data('id');

            $.ajax({
                type: 'GET',
                url: "/send_message/" + id + "/",
                success: function (response) {
                    $('#writeeditor_message_div').html(response);
                    $('#send-message-modal').modal('show');
                },
                error: function (error) {
                    console.log("Xatolik");
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}