{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h3 class="page-header">{% trans "Editor Dashboard" %}</h3>
        <br>
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#uncheck" data-toggle="tab" class="nav-link active">
                            <span class="d-sm-none">Tab 1</span>
                            <span class="d-sm-block d-none">Unchecks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#check" data-toggle="tab" class="nav-link">
                            <span class="d-sm-none">Tab 2</span>
                            <span class="d-sm-block d-none">Checked History</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="uncheck">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> Tekshirilishi kerak xabarlar</h5>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody id="editor_uncheck_notifications">


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="check">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> Tekshirilganlar tarixi</h5>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody id="editor_checked_notifications">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url: "/profile/editor_notifications/",
                    success: function(response){
                        $('#editor_uncheck_notifications').empty();
                        $('#editor_checked_notifications').empty();

                       if (response.uncheck_notifications.length > 0){
                        for(let item of response.uncheck_notifications){

                            let time = new Date(item.created_at);
                            let time_string = time.toLocaleString();

                            let uncheck = `<tr>` +
                                `<td>` + item.id + `</td>`+
                                `<td><b>` + item.article__author__email + `</b><br>`+
                                item.article__title + `</td>` +
                                `<td>`+ time_string + `</td>` +
                                `<td id="view_notif_id${item.id}"></td>`+
                                `<td><a href="/profile/editor_check_article/${ item.id}/" class="btn btn-primary btn-sm" style="float: right"><i class="fas fa-fw m-r-15 fa-edit"></i>View
                                </a></td>`
                                + `</tr>`;
                                            
                            $('#editor_uncheck_notifications').append(uncheck);

                            if (item.notification_status__id == 1){
                                $('#view_notif_id' + item.id).html("<span class='badge badge-danger'>" + item.notification_status__name + "</span>");
                            }
                            if (item.notification_status__id == 2){
                                $('#view_notif_id' + item.id).html("<span class='badge badge-warning'>" + item.notification_status__name + "</span>");
                            }
                            if (item.notification_status__id == 3){
                                $('#view_notif_id' + item.id).html("<span class='badge badge-success'>" + item.notification_status__name + "</span>");
                            }

                        }
                       }  else {
                        let tr = `<tr>` +
                            `<td><h3 class="text-center" style="color: green;">NO DATA</h3></td>`
                            + `</tr>`;
                        $('#editor_uncheck_notifications').append(tr);
                       }

                       if (response.check_notifications.length > 0){
                        for(let item of response.check_notifications){

                            let time = new Date(item.created_at);
                            let time_string = time.toLocaleString();

                            let checked = `<tr>` +
                                `<td>` + item.id + `</td>`+
                                `<td><b>` + item.article__author__email + `</b><br>`+
                                item.article__title + `</td>` +
                                `<td>`+ time_string + `</td>` +
                                `<td id="view_notif_checked_id${item.id}"></td>`+
                                `<td><button type="button" data-id="${item.article__id}" class="btn btn-primary btn-sm" style="float: right"><i class="fas fa-fw m-r-15 fa-edit"></i>View
                                </button></td>`
                                + `</tr>`;
                                            
                            $('#editor_checked_notifications').append(checked);

                            if (item.notification_status__id == 3){
                                $('#view_notif_checked_id' + item.id).html("<span class='badge badge-success'>" + item.notification_status__name + "</span>");
                            }

                        }
                    }  else {
                        let tr = `<tr>` +`<td><h3 class="text-center" style="color: green;">NO DATA</h3></td>`+ `</tr>`;
                        $('#editor_checked_notifications').append(tr);
                       }

                    },
                    error: function(response){
                        console.log(response);
                    }
                });
            }, 1500); 
        });

    </script>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>