{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h3 class="page-header">{% trans "Submissions" %}</h3>
        <br>
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#myqueue" data-toggle="tab" class="nav-link active" onclick="OnClickSubmissionTab()">
                            <span class="d-sm-none">Tab 1</span>
                            <span class="d-sm-block d-none">My Queue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#archives" data-toggle="tab" class="nav-link" onclick="OnClickSubmissionTab()">
                            <span class="d-sm-none">Tab 2</span>
                            <span class="d-sm-block d-none">Archives</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="myqueue">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> My Assigned</h5></div>
                            <div class="col-md-6">
                                <button type="button" data-id="create_article" style="float: right"
                                        data-url="{% url 'create_article' %}"
                                        class="btn btn-success btn-sm create_article_btn"><i
                                        class="fa fa-plus mr-1"></i>New Submission
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if myqueues.count > 0 %}
                                    {% for article in myqueues %}
                                        <tr>
                                            <th scope="row"><b>{{ article.id }}</b></th>
                                            <td><b>{{ article.author.full_name }}</b><br>{{ article.title|slice:100 }}
                                            </td>
                                            <td>
                                                {% if article.article_status_id == 1 or article.article_status_id == 4 or article.article_status_id == 5 %}
                                                    <button class="btn btn-outline-warning btn-xs"
                                                            style="border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% elif article.article_status_id == 6 or article.article_status_id == 7 or article.article_status_id == 8 %}
                                                    <button class="btn btn-outline-danger btn-xs"
                                                            style="border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% elif article.article_status_id == 10 %}
                                                    <button class="btn btn-outline-info btn-xs"
                                                            style="border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-success btn-xs"
                                                        style="border-radius: 10px; float: right"><i
                                                        class="fa fa-circle-notch mr-1"></i>{{ article.article_status.stage.name }}
                                                </button>
                                            </td>
                                            <td><span class="badge badge-muted">{{ article.article_type.name }}</span>
                                            </td>

                                            <td></td>
                                            <td>
                                                <button onclick="OnClickViewArticle({{ article.id }})"
                                                        data-url="{% url 'article_view' article.id %}"
                                                        id="article_view_btn_{{ article.id }}"
                                                        class="btn btn-primary btn-sm"
                                                        style="float: right"><i
                                                        class="fa fa-eye mr-1"></i>View
                                                </button>
                                            </td>
                                            <td>
                                                <button data-id="{{ article.id }}" type="button" id="view-article-messages-by-author_{{ article.id }}"
                                                        data-url="{% url 'comment_author_vs_editor'  article.id %}"
                                                        class="btn btn-warning btn-sm view_message_btn"
                                                        style="float: left"><i class="fa fa-comment"></i> Comment
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="text-center">
                                        <td colspan="4"><h3>NO DATA</h3></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="archives">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> Archived Submissions</h5>
                            </div>
                            <div class="col-md-6">
                                <button type="button" data-id="create_article" style="float: right"
                                        data-url="{% url 'create_article' %}"
                                        class="btn btn-success btn-sm create_article_btn"><i
                                        class="fa fa-plus mr-1"></i>New Submission
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if myarchives.count > 0 %}
                                    {% for article in myarchives %}
                                        <tr>
                                            <th scope="row"><b>{{ article.id }}</b></th>
                                            <td><b>{{ article.author.full_name }}</b><br>{{ article.title|slice:100 }}
                                            </td>
                                            <td>
                                                {% if article.article_status_id == 3 or article.article_status_id == 9 %}
                                                    <button class="btn btn-danger btn-xs"
                                                            style="border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% endif %}
                                                {% if article.article_status_id == 2 %}
                                                    <button class="btn btn-success btn-xs"
                                                            style="border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td><span class="badge badge-muted">{{ article.article_type.name }}</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" style="float: right"
                                                        data-url="{% url 'article_view' article.id %}"
                                                        id="article_view_btn_{{ article.id }}"
                                                        onclick="OnClickViewArticle({{ article.id }})"><i
                                                        class="fa fa-eye mr-1"></i>View
                                                </button>
                                            </td>
                                            <td>
                                                <button data-id="{{ article.id }}" type="button"
                                                        id="view-article-messages-by-author_{{ article.id }}"
                                                        data-url="{% url 'comment_author_vs_editor'  article.id %}"
                                                        class="btn btn-warning btn-sm view_message_btn"
                                                        style="float: left"><i class="fa fa-comment"></i> Comments
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="text-center">
                                        <td colspan="4"><h3>NO DATA</h3></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="padding-left: 1%; padding-right: 1%; display: none;" id="articleView">
            <div class="col-md-10 forshadow" style="padding: 1%; background-color: #fff;">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th width="1%"><b>ID</b></th>
                        <th><b>{% trans "File" %}</b></th>
                        <th><b>{% trans "Title" %}</b></th>
                        <th><b>{% trans "created_at" %}</b></th>
                        <th width="20%"><b>{% trans "Action" %}</b></th>
                    </tr>
                    </thead>
                    <tbody id="articleDetail">

                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-12 col-md-6" style="display: none;" id="MessageBoxAuthor">
                    <!-- begin widget-chat -->
                    <div class="m-b-10 m-t-10 f-s-12">
                        <h5 class="text-inverse">Comment</h5>
                    </div>

                    <div class="widget-chat widget-chat-rounded m-b-30 forshadow" data-id="widget">

                        <!-- begin widget-chat-header -->
                        <div class="widget-chat-header">
                            <div class="widget-chat-header-icon">
                                <i class="fa fa-file width-30 height-30 f-s-20 bg-yellow text-inverse text-center rounded-corner"
                                   style="line-height: 30px"></i><b>Title</b>
                            </div>
                            <div class="widget-chat-header-content">
                                <h4 class="widget-chat-header-title" id="article_title">Ilmiy Markaz</h4>
                            </div>
                        </div>
                        <!-- end widget-chat-header -->

                        <!-- begin widget-chat-body -->
                        <div class="widget-chat-body" data-scrollbar="true" data-height="250px" id="user_chat_body">


                        </div>
                        <!-- end widget-chat-body -->
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <div id="write_message_div_form"></div>
    <div id="create_article_div"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function OnClickSubmissionTab() {
            $('#articleView').css("display", "none");
            $('#MessageBox').css("display", "none");
        }

    </script>
    <script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
    <script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
{% endblock %}