{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h3 class="page-header">{% trans "Submissions" %}</h3>
        {% if 1 in request.user.get_roles or 2 in request.user.get_roles %}
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-xl-3 col-md-6">
                    <div class="widget widget-stats bg-blue forshadow">
                        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                        <div class="stats-info">
                            <h4>{% trans "UMUMIY TASDIQLANGANLAR" %}</h4>
                            <p>{{ tasdiqlanganlar }}</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;">{% trans "View Detail" %} <i
                                    class="fa fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-xl-3 col-md-6">
                    <div class="widget widget-stats bg-info forshadow">
                        <div class="stats-icon"><i class="fa fa-link"></i></div>
                        <div class="stats-info">
                            <h4>{% trans "TASDIQLANMAGANLAR" %}</h4>
                            <p>{{ tasdiqlanmaganlar }}</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-xl-3 col-md-6">
                    <div class="widget widget-stats bg-orange forshadow">
                        <div class="stats-icon"><i class="fa fa-users"></i></div>
                        <div class="stats-info">
                            <h4>{% trans "TASDIQLANISHNI KUTAYOTGANLAR" %}</h4>
                            <p>{{ kutish_jarayonida }}</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-xl-3 col-md-6">
                    <div class="widget widget-stats bg-red forshadow">
                        <div class="stats-icon"><i class="fa fa-clock"></i></div>
                        <div class="stats-info">
                            <h4>{% trans "JURNALLAR SONI" %}</h4>
                            <p>{{ jurnallar }}</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
        {% endif %}
        <br>
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#myqueue" data-toggle="tab" class="nav-link active" onclick="OnClickSubmissionTab()">
                            <span class="d-sm-none">Tab 1</span>
                            <span class="d-sm-block d-none">My Queue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#archives" data-toggle="tab" class="nav-link" onclick="OnClickSubmissionTab()">
                            <span class="d-sm-none">Tab 2</span>
                            <span class="d-sm-block d-none">Archives</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="myqueue">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> My Assigned</h5>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'create_article' %}" data-toggle="modal" style="float: right"
                                   class="addUser btn btn-success btn-sm"><i class="fa fa-plus mr-1"></i>New Submission</a>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if myqueues.count > 0 %}
                                    {% for article in myqueues %}
                                        <tr>
                                            <td>{{ article.id }}</td>
                                            <td><b>{{ article.author.full_name }}</b><br>{{ article.title }}
                                            </td>
                                            <td>
                                                {% if article.article_status_id == 6 %}
                                                    <button class="btn btn-outline-danger btn-sm"
                                                            style="margin: 10px; border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-outline-warning btn-sm"
                                                            style="margin: 10px; border-radius: 20px; float: right"><i
                                                            class="fa fa-circle-notch mr-1"></i>{{ article.article_status.stage.name }}
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button onclick="OnClickViewArticle({{ article.id }})"
                                                        class="btn btn-primary btn-sm"
                                                        style="margin: 10px; float: right"><i
                                                        class="fa fa-eye mr-1"></i>View
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="text-center">
                                        <td colspan="4"><h3>NO DATA</h3></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="archives">
                        <div class="row">
                            <div class="col-md-6"><h5 class="m-t-10"> Archived Submissions</h5>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'create_article' %}" data-toggle="modal" style="float: right"
                                   class="addUser btn btn-success btn-sm"><i class="fa fa-plus mr-1"></i>New Submission</a>
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if myarchives.count > 0 %}
                                    {% for article in myarchives %}
                                        <tr>
                                            <td>{{ article.id }}</td>
                                            <td><b>{{ article.author.full_name }}</b><br>{{ article.title }}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm"
                                                        style="margin: 10px; border-radius: 20px; float: right"><i
                                                        class="fa fa-circle-notch mr-1"></i>{{ article.article_status.name }}
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-sm"
                                                        onclick="OnClickViewArticle({{ article.id }})"
                                                        style="margin: 10px; float: right"><i
                                                        class="fa fa-eye mr-1"></i>View
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="text-center">
                                        <td colspan="4"><h3>NO DATA</h3></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="padding-left: 1%; padding-right: 1%; display: none;" id="articleView">
            <div class="col-md-10 forshadow" style="padding: 2%;">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th width="1%"><b>ID</b></th>
                        <th><b>{% trans "File" %}</b></th>
                        <th><b>{% trans "Title" %}</b></th>
                        <th><b>{% trans "created_at" %}</b></th>
                        <th><b>{% trans "Action" %}</b></th>
                    </tr>
                    </thead>
                    <tbody id="articleDetail">

                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function OnClickViewArticle(id) {
            $.ajax({
                type: "GET",
                url: "/article/view/" + id + "/",
                success: function (response) {
                    $("#articleDetail").empty();
                    $("#articleView").css("display", "block");

                    console.log(response);
                    let fileID = response['file'];
                    let FileArticle = "File Not Exists";
                    if (fileID != "None") {
                        FileArticle = `<a href='${response['file']}' download role='button'>` + `<span>Yuklab olish</span></a>`
                    }
                    let temp = "<tr><td>" +
                        response['id'] + "</td><td>" + FileArticle
                        + `</td><td>` +
                        response['title'] + `</td><td>` +
                        response['created_at'] + `</td><td>` +
                        `<a class="btn btn-sm btn-outline-warning" href="/article/edit/${response['id']}/">Edit</a>` + " " +
                        `<a class="btn btn-sm btn-outline-danger"  href="/article/delete/${response['id']}/">Delete</a>`
                        + "</td></tr>";
                    $("#articleDetail").append(temp);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function OnClickSubmissionTab() {
            $('#articleView').css("display", "none");
        }
    </script>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>