{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Xabarlar
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">{% trans "Bosh sahifa" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Xabarlar" %}</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">{% trans "Yangi kelgan xabarlar" %}</h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-default forshadow">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">
                </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <!-- begin table-responsive -->

                <div class="table-responsive">
                    <table
                            class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr class="text-center">
                            <th width="1%">Tr</th>
                            <th>{% trans "Aftor" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th width="1%">{% trans "Actions" %}</th>
                        </tr>
                        </thead>
                        <tbody id="display_table">
                        {#                            {% for notif in notifications %}#}
                        {#                                <tr class="text-center">#}
                        {#                                    <td id="counter_ar">{{ forloop.counter}}</td>#}
                        {#                                    <td>{{ notif.article.author.email }}</td>#}
                        {#                                    <td>{{ notif.title|safe|slice:100 }}</td>#}
                        {#                                    <td>#}
                        {#                                                                <span class="badge {% if notif.status == 'Tekshirilmadi' %} badge-danger {% elif notif.status == 'Tekshirildi' %} badge-success {% elif notif.status == 'Tekshirilmoqda' %} badge-blue {% endif %}">#}
                        {#                                                                    {{ notif.status }}#}
                        {#                                                                </span>#}
                        {#                                    </td>#}
                        {#                            <td>#}
                        {#                                                        <a href="{% url 'view_notification' notif.pk %}" title="Ko'rish"#}
                        {#                                                           data-toggle="tooltip"#}
                        {#                                                           style="color: #0188d0">#}
                        {#                                                            <i class="fas  fa-fw m-r-15 fa-edit"></i>#}
                        {#                                                        </a>#}
                        {##}
                        {#                            </td>#}
                        {#                                </tr>#}
                        {#                            {% endfor %}#}
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
                <div class="row">
                    <div class="col-md-6" style="padding-top: 1.5em">
                    </div>
                    <div class="col-md-6" style="padding-top: 1em">
                    </div>
                </div>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'load_notif' %}",
                    success: function (response) {
                        console.log(response.notifications);
                        $("#display_table").empty();
                        let tr = 0;
                        for (let item of response.notifications) {
                            tr++;
                            let temp =
                                "<tr class='text-center'>" +
                                "<td>" + tr + "</td>" +
                                "<td>" + item.my_resend__author__email + "</td>" +
                                "<td>" + item.title + "</td>" +
                                "<td>" + item.status + "</td>" +
                                "<td>" + `<a href="/profile/notification/${item.id}/view"><i class="fas fa-fw m-r-15 fa-edit"></i>` + "</a></td>" +
                                "</tr>";
                            $("#display_table").append(temp);
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }
                });

            }, 1500);

        });
    </script>
{% endblock %}
