{% extends 'user_app/base.html' %}
{% load static %}
{% block title %}
    Xabarlar
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">Bosh sahifa</a></li>
            <li class="breadcrumb-item active">Xabarlar</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Yangi kelgan xabarlar </h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-default" data-sortable-id="table-basic-7">
            <!-- begin panel-heading -->
            <div class="panel-heading" style="background-color: #b4b4b4">
                <h4 class="panel-title">
                </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <!-- begin table-responsive -->
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline justify-content-start">
                            <div class="form-group mx-sm-3 mb-3">
                                <label style="margin-right: 5px"><strong>Show</strong></label>
                                <select id="id_n_show" name="n_show" class="form-control selectpicker"
                                        data-style="btn-white">
{#                                    {% get_pages as all_pages %}#}
{#                                    {% for item in all_pages %}#}
{#                                        <option  {% if n_show == item.value %} selected {% endif %}#}
{#                                                                               value="{{ item.value }}">{{ item.name }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                            </div>
                            <button {% if p_n == 0 %} disabled {% endif %} type="submit"
                                                      class="btn btn-outline-warning btn-sm mb-3">Show
                            </button>
                        </form>
                    </div>
                    <div class="col-md-6">
{#                        <form class="form-inline justify-content-end">#}
{#                            <div class="form-group mx-sm-3 mb-3">#}
{#                                <input {% if p_n == 0 %} disabled {% endif %} type="text" name="search"#}
{#                                                         value="{{ search }}" class="form-control "#}
{#                                                         placeholder="Search..." style="width: 250px">#}
{#                            </div>#}
{#                            <button {% if p_n == 0 %} disabled {% endif %} type="submit" class="btn btn-success mb-3"><i#}
{#                                    class="fa fa-search"></i>Search#}
{#                            </button>#}
{#                        </form>#}
                    </div>
                </div>
                <div class="table-responsive">
                    <table
                            class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr class="text-center">
                            <th width="1%">Tr</th>
                            <th>Aftor</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th width="1%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
{#                        {% if p_n != 0 %}#}
                            {% for notif in notifications %}
                                <tr class="text-center">
                                    <td id="counter_ar">{{ forloop.counter}}</td>
                                    <td>{{ notif.article.author.email }}</td>
                                    <td>{{ notif.title }}</td>
                                    <td>
                                        <span class="badge {% if notification.status == 'Unread' %} badge-danger {% elif notification.status == 'Read' %} badge-success {% endif %}" 
                                        style="font-size: 10px;">{{ notif.status }}</span>
                                    </td>
                            <td>
                                <a href="{% url 'view_notification' notif.pk %}" title="Ko'rish"
                                   data-toggle="tooltip"
                                   style="color: #0188d0">
                                    <i class="fas  fa-fw m-r-15 fa-eye"></i>
                                </a>

                            </td>
                                </tr>
                            {% endfor %}
{#                        {% endif %}#}
{#                        {% if p_n == 0 %}#}
{#                            <tr class="text-center"><td class="panel-warning" colspan="5"><h2 style="font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol">No elements.</h2></td></tr>#}
{#                        {% endif %}#}
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
                <div class="row">
                    <div class="col-md-6" style="padding-top: 1.5em">
{#                        <b>Showing {{ page.start_index }} to {{ page.end_index }} of {{ p_n }} entries</b>#}
                    </div>
                    <div class="col-md-6" style="padding-top: 1em">
{#                        {% include 'article_app/includes/pagination.html' %}#}
                    </div>
                </div>
            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>