{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Sections" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "Sections" %}
        </h2>

        <div class="panel-body forshadow" style="background-color: #ffffff; border-radius: 5px; padding: 10px;">
            <div class="container" style="padding: 15px;">
                <table class="table table-hover table-fixed table-responsive-lg">

                    <thead>
                    <tr>
                        <th><strong>Tr</strong></th>
                        <th><strong>Name</strong></th>
                        <th></th>
                        <th><strong>Action</strong></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if objects.count > 0 %}
                        {% for section in objects %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ section.name }}</td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}