{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Roles" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "List of roles" %}
        </h2>

        <div class="panel-body forshadow" style="background-color: #ffffff; border-radius: 5px; padding: 10px;">
            <div class="container" style="padding: 15px;">
                <table class="table table-hover table-fixed table-responsive">

                    <thead>
                    <tr>
                        <th><strong>Tr</strong></th>
                        <th><strong>Name</strong></th>
                        <th></th>
                        <th><strong>Action</strong></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if objects.count > 0 %}
                        {% for item in objects %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.name }}</td>
                                <td></td>
                                <td>
                                   


                                                 <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                            data-target="#roles-update-{{ item.id }}">
                                        Edit
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="roles-update-{{ item.id }}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Roles</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'role_update' item.id %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input name="role" class="form-control" type="text"
                                                               placeholder="{{ item.name }}">
                                                        </button>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Button Delete trigger modal -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                            data-target="#role-delete-{{ item.id }}">
                                        Delete
                                    </button>
                                    <!-- Modal Delete -->
                                    <div class="modal fade" id="role-delete-{{ item.id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Roles</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ item.name }}ni o'chirishni xoxlaysizmi ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <a href="{% url 'roles_delete' item.id %}"
                                                       class="btn btn-danger" type="button">Ha</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}