{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Xabarlar
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">{% trans "Bosh sahifa" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Xabarlar" %}</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">{% trans "Yangi kelgan xabarlar" %}</h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-default forshadow">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">
                </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <!-- begin table-responsive -->

                <div class="table-responsive">
                    <table
                            class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="1%"><b>Tr</b></th>
                            <th><b>{% trans "Title" %}</b></th>
                            <th><b>{% trans "Description" %}</b></th>
                            <th><b>{% trans "Time" %}</b></th>
                            <th><b>{% trans "Status" %}</b></th>
                            <th width="1%"><b>{% trans "Action" %}</b></th>
                        </tr>
                        </thead>
                        <tbody id="revew_table">

                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
                <div class="row">
                    <div class="col-md-6" style="padding-top: 1.5em">
                    </div>
                    <div class="col-md-6" style="padding-top: 1em">
                    </div>
                </div>
            </div>
            <!-- end panel-body -->
        </div>
        <span class='badge badge-danger'>1</span> - Tekshirilmadi
        <span class='badge badge-warning'>2</span> - Tekshirilmoqda
        <span class='badge badge-success'>3</span> - Tekshirildi
    </div>
    <!-- end panel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'get_review_view_notification' %}",
                    success: function (response) {
                        $("#revew_table").empty();
                        let tr = 0;

                        for (let item of response.notifications) {
                            tr++;
                            let status = item.status.toString();
                            let temp =
                                "<tr>" +
                                "<td>" + tr + "</td>" +
                                "<td>" + item.title + "</td>" +
                                "<td>" + item.description + "</td>" +
                                "<td>" + item.created_at + "</td>" +
                                "<td id='reviewindex" + item.id + "'></td>" +
                                "<td>" + `<a href="/profile/review_view_notification/${item.id}/view"><i class="fas fa-fw m-r-15 fa-edit"></i>` + "</a></td>"
                                + "</tr>";

                            $("#revew_table").append(temp);

                            if (status === 'Tekshirilmadi') {
                                $("#reviewindex" + item.id).html("<span class='badge badge-danger'>" + item.status + "</span>");
                            } else if (status === 'Tekshirildi') {
                                $("#reviewindex" + item.id).html("<span class='badge badge-success'>" + item.status + "</span>");
                            } else if (status === 'Tekshirilmoqda') {
                                $("#reviewindex" + item.id).html("<span class='badge badge-warning'>" + item.status + "</span>");
                            } else {
                                $("#reviewindex" + item.id).html("<span class='badge badge-info'>" + item.status + "</span>");
                            }
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }, 1500);
        });
    </script>
{% endblock %}
