{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Jurnallar
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <div class="panel panel-default forshadow" data-sortable-id="table-basic-7">
            <div class="panel-body">
                <h1>Journal yaratish</h1>
                <form action="{% url 'create_journal' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">{% trans "File" %} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form.file_pdf }}
                                </div>
                            </div>

                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">{% trans "Jurnal soni" %} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form.journal_number }}
                                </div>
                            </div>

                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">{% trans "Jurnal yili" %} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form.journal_year }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    {% if len_articles == 0 %}
                        <h1>
                            <center>Tekshirilgan maqolalar yo'q</center>
                        </h1>
                    {% else %}
                        <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Soha</th>
                            <th scope="col">gmail</th>
                        </tr>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td>{{ article.section }}</td>
                                <td>{{ article.author }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <br>
                    </thead></table>
                    {% if len_articles %}
                        <button type="submit" class="btn btn-primary">Create</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
