{% load i18n %}
{% load static %}
<form class="edit_journal_form" method="post" data-url="{% url 'edit_journal' journal.id %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade" id="edit_journal_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Edit Journal" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Name" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Year" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.year }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Number" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.number }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "File" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.file_pdf }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Status" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.status }}
                        </div>
                    </div>
                     <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Publish" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.is_publish }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>


