{% extends 'article_app/base.html' %}
{% load static %}
{% block title %}
Barcha jurnallar soni
{% endblock %}
{% block content %}
<div class="row" style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
	<div class="container">
		<br>
		<center><h4 class="title">Barcha jurnallar soni</h4></center>
			<br>
                <div class="row">
                {% for item in journals %}
                    <div class="col-xl-3 col-sm-6">
                        <div class="card border-0">
                            <img class="card-img-top" src="{% static 'img/jurnal_ob.png' %}" alt=""/>
                            <div class="card-body">
                                <center><a href="{% url 'view_journal' item.id %}">{{item.year }} № {{ item.number }}</a></center>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            <br>
		{% include 'article_app/includes/social_buttons.html' %}
	</div>
</div>
<br>
{% endblock content %}