{% extends 'article_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    DTM Axborotnoma {{ journal.year }} № {{ journal.number }}
{% endblock %}
{% block content %}
    <div class="row"
         style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;">
        <div class="container">
            <br>
            <center><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif;">DTM
                Axborotnoma {{ journal.year }} № {{ journal.number }}</h4></center>
            <br>
            <i class="fas fa-md fa-fw m-r-10 fa-calendar-alt"></i><span class="text-inverse"
                                                                        style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif; font-size: 12px;">{{ journal.created_at }}</span>
            <br><br>
            <center><img class="card-img-top" src="{% static 'img/jurnal_ob.png' %}" alt="" style="width: 250px;"/></center>
        <hr>
        <p><i class="fa fa-file-pdf fa-lg"></i>&nbsp;&nbsp;<a href="{{ journal.file_pdf.url }}" target="_blank">Pdf file</a></p>
            {% for item in list_articles %}
                <p style="color:black; font-family: Tahoma, Helvetica, Arial,serif; font-size: 13px;"><a
                        href="{% url 'journal_article_view' item.article.id %}">{{ forloop.counter }}. {{ item.article.title }}</a>
                </p>
            {% endfor %}
            {% include 'article_app/includes/social_buttons.html' %}
        </div>
    </div>
    <br>
{% endblock content %}