{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Jurnallar
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <div class="panel panel-default forshadow" data-sortable-id="table-basic-7">
            <div class="panel-body">
                <h2>Yaratilish yili: {{ journal.journal_year }}</h2>
                <h2>Soni: {{ journal.journal_number }}</h2>
                <h3><a href="{{ journal.file_pdf.url }}">PDF</a></h3>
                {% if journal == False %}
                    <h3>
                        Journal chiqarilmagan
                    </h3>
                {% else %}
                    <h3>
                        Journal chiqarilgan
                    </h3>
                {% endif %}
                <br>
                <h3>Maqolalar: </h3>
                <div class="col-md-9 col-sm-9">
                    {% for article in journal.article.all %}
                        <h5>
                            <li>
                                <a href="{% url 'journal_article' article.id %}">{{ article.title }}</a>
                            </li>
                        </h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
