{% load i18n %}
{% load static %}
<!-- begin search-banner -->
<div class="search-banner has-bg">
    <!-- begin bg-cover -->
    <div class="bg-cover" data-paroller="true" data-paroller-factor="0.5" data-paroller-factor-xs="0.01"
         style="background-image: url({% static '/assets/img/cover/cover-1.jpg' %})"></div>
    <!-- end bg-cover -->
    <!-- begin container -->
    <div class="container">
        <h1>{% trans 'Axborotnoma jurnali' %}</h1>
    </div>
    <!-- end container -->
</div>
<!-- end search-banner -->