{% load i18n %}
{%load static %}
<div class="card card-forum" style="box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;">
    <div class="card-header f-w-600" style="color:black; font-family: Tahoma, Helvetica, Arial,serif; font-size: 14px;">{% trans "Qo'llanmalar" %}</div>
    <ul class="threads-list">
        <li><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><a href="{% url 'about_journal' %}">{% trans "Jurnal haqida" %}</a></h4></li>
        <li><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><a href="{% url 'editor_board' %}">{% trans "Tahririyat kengashi" %}</a></h4></li>
        <li><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><a href="{% url 'journals_list' %}">{% trans "Jurnallar ro'yxati" %}</a></h4></li>
        <li><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial,serif; font-size: 14px;"><a href="{% url 'guide_for_authors' %}">{% trans "Mualliflar uchun qo'llanma" %}</a></h4></li>
        <li><h4 class="title" style="color:black; font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><a href="{% url 'dashboard' %}">{% trans "Maqola yuborish" %}</a></h4></li>
    </ul>
</div>
<br>