{%load static %}
{%load pages_tags %}
 <div class="card card-forum" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <div class="card-header f-w-600">Jurnallar</div>
    <!-- begin threads-list -->
    <ul class="threads-list">
        {% get_jurnals as jurnals %}
        {% for jurnal in jurnals%}
        {% if jurnal.article.count > 0 %}
        <li>
               <h4 class="title"> <a href="{% url 'view_magazine' jurnal.id %}">Axborotnoma {{ jurnal.year_magazine }} № {{ jurnal.number_magazine}}</a></h4>
        </li>
        {% endif %}
        {% endfor%}
    </ul>
    
    <div class="card-header">
        <a href="{% url 'all_magazine_son' %}">Barchasini ko'rish>></a>
    </div>
</div>
<br>
<div class="card card-forum" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
    <div class="card-header f-w-600">So'ngi maqolalar</div>
    <ul class="threads-list">
        {% get_last_articles as articles%}
        {% if articles.count > 0%}
        {% for article in articles%}
        <li>
            <h4 class="title"> <a href="{{ get_absolute_url }}">{{ article.title }}</a></h4>
        </li>
        {% endfor%}
        {% else %}
        <li>No article</li>
        {% endif %}
    </ul>
</div>
<br>
