{% load static %}
{% load i18n %}
<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <a href="{% url 'main_page' %}">
            <img src="{% static 'img/dtm.jpeg' %}" alt="" width="110"/>
        </a>
        <span style="text-transform: uppercase; margin-left: 1em; font-size: 16px; font-family: Roboto,sans-serif; text-align: center; display: table-cell; vertical-align: middle;">
                <b>Onlayn axborotnoma jurnal</b>
			</span>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right d-flex flex-grow-1">
                <li><a href="{% url 'main_page' %}" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">{% trans "Bosh sahifa" %}</a></li>
{#                <li><a href="#" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">{% trans "Konferensiya" %}</a></li>#}
                <li><a href="{% url 'contact' %}" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">{% trans "Bog'lanish" %}</a></li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown navbar-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">
                            <b><span class="d-none d-md-inline">{{ request.user.full_name }}</span></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'dashboard' %}" class="dropdown-item" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><i
                                    class="icon-pencil  p-r-10"></i><span>{% trans "Shaxsiy kabinet" %}</span></a>
                            <a href="{% url 'logout' %}" class="dropdown-item" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;"><i
                                    class="icon-logout  p-r-10"></i><span>{% trans "Chiqish" %}</span></a>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">{% trans "Ro'yxatdan o'tish" %}</a></li>
                    <li><a href="{% url 'login' %}" style="font-family: Tahoma, Helvetica, Arial, Sans-Serif,serif; font-size: 14px;">{% trans "Kirish" %}</a></li>
                {% endif %}
                <li style="margin-top: 1%">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" id="lang_btn"
                                data-toggle="dropdown">
                            {% if LANGUAGE_CODE == 'uz' %}
                                <span class="flag-icon flag-icon-uz"></span>
                                O'zbek tili
                            {% elif LANGUAGE_CODE == 'ru' %}
                                <span class="flag-icon flag-icon-ru"></span>
                                Русский
                            {% elif LANGUAGE_CODE == 'en' %}
                                <span class="flag-icon flag-icon-gb"></span>
                                English
                            {% elif LANGUAGE_CODE == 'kk' %}
                                <span><img src="{% static 'img/qq.png' %}" alt="" width="22"/></span>
                                Qoraqalpoq tili
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            {% for language in languages %}
                                <li id="lang_{{ language.code }}">

                                    <a href="{% url 'set-language' language.code %}" class="btn btn-white btn-block">
                                        {% if language.code != 'kk' %}
                                            <span class="flag-icon flag-icon-{% if language.code == 'en' %}gb{% else %}{{ language.code }}{% endif %}"></span>
                                        {% else %}
                                            <span><img src="{% static 'img/qq.png' %}" alt="" width="22"/></span>
                                        {% endif %}
                                        {% if language.code == 'kk' %}
                                            Qoraqalpoq tili
                                            {% elif language.code == 'uz' %}
                                            O'zbek tili
                                        {% else %}
                                            {{ language.name_local }}
                                        {% endif %} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
