{% load static %}
{% load i18n %}
<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <a href="/">
            <img src="{% static 'img/version.png' %}" alt="" width="80"/>
        </a>
        <span style="text-transform: uppercase; margin-left: 1em; font-family: Roboto,sans-serif; text-align: center; display: table-cell; vertical-align: middle;">
                <b>{% trans "Onlayn axborotnoma jurnal" %}</b>
			</span>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right d-flex flex-grow-1">
                <li><a href="/">{% trans "Bosh sahifa" %}</a></li>
{#                <li><a href="{% url 'about_journal' %}">{% trans "Jurnal haqida" %}</a></li>#}
                <li><a href="#">{% trans "Konferensiya" %}</a></li>
{#                <li><a href="{% url 'talabnoma' %}">{% trans "Talabnoma" %}</a></li>#}
                <li><a href="{% url 'contact' %}">{% trans "Bog'lanish" %}</a></li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown navbar-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {#                            <img src="{{ request.user.avatar.url }}" alt="" width="40" class="img-circle"/>#}
                            <b><span class="d-none d-md-inline">{{ request.user.full_name }}</span></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'sending_article_form' %}" class="dropdown-item"><i
                                    class="icon-pencil  p-r-10"></i><span>{% trans "Shaxsiy kabinet" %}</span></a>
                            <a href="{% url 'logout' %}" class="dropdown-item"><i
                                    class="icon-logout  p-r-10"></i><span>{% trans "Chiqish" %}</span></a>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">{% trans "Ro'yxatdan o'tish" %}</a></li>
                    <li><a href="{% url 'login' %}">{% trans "Kirish" %}</a></li>
                {% endif %}
                <li class="dropdown navbar-language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <a href="#" class="dropdown-toggle pr-1 pl-1 pr-sm-3 pl-sm-3" data-toggle="dropdown">
                        <span class="flag-icon flag-icon-{% if LANGUAGE_CODE == 'en' %}gb{% else %}{{ LANGUAGE_CODE }}{% endif %}"></span>
                        <span class="name d-none d-sm-inline" style="text-transform: uppercase;"><b>{{ LANGUAGE_CODE }}</b></span>
                    </a>
                    <div class="dropdown-menu">
                        {% for language in languages %}
                            <a href="/{{ language.code }}/" class="dropdown-item">
                                <span class="flag-icon flag-icon-{% if language.code == 'en' %}gb{% else %}{{ language.code }}{% endif %}"></span>
                                {% if language.code == 'uz' %}
                                    O'zbek
                                {% else %}  {{ language.name_local }}{% endif %} </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'assets/plugins/select2/dist/js/select2.min.js' %}"></script>
