{% load static %}
<div class="modal fade" id="UserModal">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_district' district.id %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tumanni o'zgartirish</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <table id="data-table-default"
                           class="table table-bordered table-td-valign-middle">
                        <tbody>
                        <tr>
                            <th class="text-nowrap">Nomi</th>
                            <td class="text-nowrap">{{ form.name }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Viloyat</th>
                            <td class="text-nowrap">{{ form.region }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Yopish</a>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>