{% load static %}
<div class="modal fade" id="UserModal">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_menu' menu.id %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Menyuni o'zgartirish</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">

                    <table id="data-table-default"
                           class="table table-striped table-bordered table-td-valign-middle">
                        <tbody>
                        <tr>
                            <th class="text-nowrap">Nomi</th>
                            <td class="text-nowrap">{{ form.name }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Parent ID</th>
                            <td class="text-nowrap">{{ form.parent_id }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Icon</th>
                            <td class="text-nowrap">{{ form.icon }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Url</th>
                            <td class="text-nowrap">{{ form.url }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Menyu turi</th>
                            <td class="text-nowrap">{{ form.type_menu }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Tartib nomeri</th>
                            <td class="text-nowrap">{{ form.menu_tr }}</td>
                        </tr>
                    
                        <tr>
                            <th class="text-nowrap">Status</th>
                            <td class="text-nowrap">{{ form.status }}</td>
                        </tr>
                        <tr class="text-center">
                            <th colspan="2">Ruxsatlar</th>
                        </tr>
                        <tr>
                            <th class="text-nowrap">Aftorlar</th>
                            <td class="text-nowrap">{{ form.allowed_roles }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Yopish</a>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>