{% extends 'user_app/base.html' %}
{% load static %}
{% block title %}Maqola tekshiruvi{% endblock %}
{% block content %}
    <div id="content" class="content">
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">Bosh Sahifa</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Maqola tekshiruvi</a></li>
        </ol>
        <h2 class="page-header viewArticleFont">
            <b>{{ notification.article.author.last_name }} {{ notification.article.author.first_name }}</b> ga tegishli
            maqolani tekshirish</h2>
        <div class="panel panel-default forshadow">

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <table>
                            <tr>
                                <th>
                                    <h4>{{ notification.article.author.last_name }} {{ notification.article.author.first_name }}</h4>
                                </th>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong> {{ notification.article.author.email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Tel:</strong> {{ notification.article.author.phone }}</td>
                            </tr>
                            <tr>
                                <td><strong>Yuborilgan vaqt: </strong> {{ notification.created_at }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table>
                            <tr>
                                <td><p><b>Mavzu: </b>{{ notification.article.title|safe }}</p></td>
                            </tr>
                            <tr>
                                <td><b>Aftorlar: </b></td>
                            </tr>
                            {% for author in authors %}
                                <tr>
                                    <td>{{ author.author_order }}. {{ author.last_name }} {{ author.first_name }}
                                        ({{ author.work_place }})
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><p></p><b>Abstract: </b>{{ notification.article.abstract|safe }}</td>
                            </tr>
                            <tr>
                                <td><b>Kalit so'zlar: </b>{{ notification.article.keywords|safe }}</td>
                            </tr>
                            <br>
                            <tr>
                                <td><b>MS word fayl: </b>[<a href="{{ notification.article.file.url }}" download
                                                             role="button"><span>Yuklab olish</span></a>]
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="input-group col-md-12 text-center">
                                <span class="input-group-addon"><i
                                        class="fas fa-pencil-alt prefix"> Tahrirchiga xabar</i></span>
                            <input type="text" class="form-control" name="message_tahrir"
                                   placeholder="Xabar shu yerga...">
                        </div>
                        <br>
                        <a href="{% url 'confirm_article' notification.id %}" class="btn btn-info"><i
                                class="far fa-paper-plane"></i> Yuborish</a>
                    </div>
                </div>
                <br>
                <form action="" method="get">
                    <div class="container">
                        <strong>Quyidagilardan birini tanlang ?</strong><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="stateArticle" id="reject"
                                   value="Rad etish">
                            <label class="form-check-label" for="exampleRadios1">
                                Rad etish
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="stateArticle" id="resend"
                                   value="Qayta yuborish">
                            <label class="form-check-label" for="exampleRadios2">
                                Qayta yuborish
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="stateArticle" id="confirm"
                                   value="Tasdiqlash">
                            <label class="form-check-label" for="exampleRadios3">
                                Tasdiqlash
                            </label>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="row">
                        <div class="input-group col-md-12 text-center">
                            <span class="input-group-addon"><i class="fas fa-pencil-alt prefix">Aftorga xabar</i></span>
                            <input type="text" class="form-control" name="message_author"
                                   placeholder="Xabar shu yerga...">
                        </div>
                    </div>
                    <br>
                    <script>
                        const radiobtnValue = document.querySelector("input[name='radio']:checked");
                        if (radiobtnValue != null) {

                        }
                    </script>
                    <div class="col-md-12 text-center">
                        <button type="submit"
                                class="btn btn-info {% if notification.my_resend.state.id == 2 or notification.my_resend.state.id == 3 or notification.my_resend.state.id == 5 %} disabled {% endif %}">
                            <i
                                    class="fas fa-cog fa-spin"></i> Saqlash
                        </button>
                    </div>
                </form>

                <hr>
            </div>
        </div>
    </div>
{% endblock %}