<br>
<form class="search_author_form" method="get" action="{% url 'search_author' %}">
    <label for="author_email">Add author by email searching</label>
    <div class="row">
        <div class="col-md-4">
            <input type="email" class="form-control" id="author_email" style="color: black;"
                   name="author_email"
                   placeholder=" Email" required>
        </div>
        <div class="col-md-2">
            <button class="btn btn-green btn-sm form-control" type="submit"> Search
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <br>
</form>
<span class="text" id="author_email_exists"></span>
<form class="add_exist_author_form" method="post" action="{% url 'add_exist_author' article.id %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">
            <input type="text" value="" name="exist_author_email" id="exist_author_email" class="form-control"
                   style="display: none">
        </div>
        <div class="col-md-2" id="add_author_div"></div>
        <div class="col-md-8"></div>
    </div>
</form>
<hr>

        $(document).ready(function () {
            const $SearchAuthorForm = $('.search_author_form');
            $SearchAuthorForm.submit(function (event) {
                event.preventDefault();
                const $SearchAuthorFormData = $SearchAuthorForm.serialize();
                $.ajax({
                    type: 'GET',
                    url: "{% url 'search_author' %}",
                    data: $SearchAuthorFormData,
                    success: handleSuccess,
                    error: handleError,
                });

                function handleSuccess(response) {
                    $SearchAuthorForm[0].reset();
                    console.log(response);
                    if (response['is_have_author'] == 1) {
                        $('#author_email_exists').css('color', 'green');
                        $('#author_email_exists').text(response.email + " is exists!.");
                        $('#exist_author_email').css("display", "block");
                        $('#exist_author_email').val(response.email);
                        $('#add_author_div').html(`<button type="submit" class="btn btn-info btn-md" id="add_author_by_email"><i class="fa fa-user-plus"></i></button>`);
                    } else {
                        $('#author_email_exists').css('color', 'red');
                        $('#author_email_exists').text("Bu author tizimda yo'q");
                        $('#add_author_by_email').css("display", "none");
                    }
                }

                function handleError(ThrowError) {
                    console.log('error');
                    console.log(ThrowError);
                }
            });

        });


  $(document).ready(function () {
            const $AddExistAuthorForm = $('.add_exist_author_form');
            $AddExistAuthorForm.submit(function (event) {
                event.preventDefault();
                const $AddExistAuthorFormData = $AddExistAuthorForm.serialize();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'add_exist_author' article.id %}",
                    data: $AddExistAuthorFormData,
                    success: handleSuccess,
                    error: handleError,
                });

                function handleSuccess(response) {
                    $AddExistAuthorForm[0].reset();
                    console.log(response);
                    $('#author_email_exists').text(response.message);
                    $('#exist_author_email').css("display")
                }
                function handleError(ThrowError) {
                    console.log('error');
                }
            });

        });