{% load i18n %}
{% load static %}
<form method="post" action="{% url 'create_article' %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade" id="addUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Maqola qo'shish" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <select id="id_author" name="author" class="form-control" style="visibility: hidden">
                        <option selected value="{{ author.id }}"></option>
                    </select>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Section" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.section }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Mavzu" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.title|safe }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary" id="my_article">{% trans "Saqlash" %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="emailModal" class="modal fade" role="dialog">
</div>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
<script src="{% static 'js/display_tables.js' %}"></script>
