{% extends 'user_app/base.html' %}
{% load static %}
{% block title %}
Qayta yuborish
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">Bosh sahifa</a></li>
            <li class="breadcrumb-item active">Maqolani Qayta yuborish</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Maqolani Qayta yuborish</h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="table-basic-7" style="pading:10%;">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <form data-parsley-validate="true" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">Aftor <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <select id="id_author" name="author" class="form-control">
                                        <option selected
                                                value="{{ article.author.id }}">{{ article.author.username }}</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">File <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="file" id="id_file_word" name="file_word"  class="form-control"
                                           data-parsley-required="true" accept=".docx, .doc">
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-md-3 col-sm-3 col-form-label">Maqola <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-9 col-sm-9">
                                    <select id="id_article" name="article" class="form-control">
                                        <option selected
                                                value="{{ article.id }}">{{ article.title }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 1em">
                        <div class="col-md-6 col-sm-6"></div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" style="float: right;"
                                    class="btn btn btn-success">Saqlash
                            </button>
                            <a style="float: right; margin-right: 1em" href="{% url 'sending_article_form' %}"
                               class="btn btn-outline-warning">Yopish
                            </a>
                        </div>
                    </div>

                </form>

            </div>
            <!-- end panel-body -->
        </div>
        <!-- end panel -->
    </div>
{% endblock %}

<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>