{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Update Article
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h3 class="page-header">{% trans "Maqolaga o'zgartirish kiritish" %}</h3>

        <div class="panel panel-default forshadow">
            <div class="panel-body">
                <div class="container">
                    <form class="update_article_form" data-parsley-validate="true" method="post" data-url="{% url 'update_article' article.id %}">
                        {% csrf_token %}
                        {{ form.media }}
                        <br>
                        <div style="padding-left:10%; padding-right: 5%;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-center"
                                        style="color: green">{% trans "Quyidagi so'ralgan ma'lumotlarni to'ldiring" %}</h5>
                                    <div class="form-group row m-b-15" style="visibility: hidden;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Aftor" %}
                                            <span
                                                    class="text-danger">*</span></label>
                                        <div class="col-md-10 col-sm-10">
                                            <select id="id_author" name="author" class="form-control">
                                                <option selected
                                                        value="{{ article.author.id }}">{{ article.author.username }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Mavzusi" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.title|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Mavzusi (inglizcha)" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.title_en|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="text-center"
                                        style="color: green">{% trans "Maqolaga mualliflarni qo'shish" %}</h5>
                                    <button href="{% url 'add_author' article.id %}" data-toggle="modal"
                                            class="addUser btn btn-primary btn-sm"><i
                                            class="fa fa-plus mr-1"></i>{% trans "Qo'shish" %}
                                    </button>
                                    <br>
                                    <br>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-response">
                                            <thead>
                                            <tr>
                                                <th><b>Tr</b></th>
                                                <th><b>{% trans "Familiyasi" %}</b></th>
                                                <th><b>{% trans "Ismi" %}</b></th>
                                                <th><b>{% trans "Sharifi" %}</b></th>
                                                <th><b>{% trans "E-mail" %}</b></th>
                                                <th><b>{% trans "Ilmiy darajasi" %}</b></th>
                                                <th><b>{% trans "Ish joyi" %}</b></th>
                                                <th width="100"><b></b></th>
                                            </tr>
                                            </thead>
                                            <tbody id="authors_table">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label"> {% trans "Rukn" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.section }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; margin-left: 1px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label"> {% trans "Davlat" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.country }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label"> {% trans "Turi" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.article_type }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; margin-left: 1px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label"> {% trans "Tili" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.article_lang }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Kalit so'zlar" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.keywords|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Kalit so'zlar (inglizcha)" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.keywords_en|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Qisqacha mazmuni" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.abstract|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Qisqacha mazmuni (inglizcha)" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.abstract_en|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #eeeeee; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Adabiyotlar" %}</label>
                                        <div class="col-md-10 col-sm-10">
                                            {{ form.references|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row m-b-15"
                                         style="background-color: #f3f3f3; padding: 10px; border-radius: 5px;">
                                        <label class="col-md-2 col-sm-2 col-form-label">{% trans "Faylni yuklash (.doc, docx)" %}
                                            <span
                                                    class="text-danger">*</span></label>
                                        <div class="col-md-10 col-sm-10">
                                            <button data-url="{% url 'create_article_file' article.id %}"
                                                    class="btn btn-primary btn-md create_articleFileBtn"><i
                                                    class="fa fa-file mr-1"></i>{% trans " Fayl" %}
                                            </button>
                                            <span id="article_file_name" style="margin-left: 1%;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row" style="padding-top: 1em">
                            <div class="col-md-6 col-sm-6">
                                <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary" style="float: left"><i class="fa fa-arrow-alt-circle-left"></i> &nbsp;Asosiy sahifaga qaytish</a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" style="float: right;" id="submitButtonId"
                                        class="btn btn-success"><i
                                        class="fa fa-paper-plane mr-2"></i>{% trans "Maqolani saqlash va yuborish" %}
                                </button>
                                <a style="float: right; margin-right: 1em" href="{% url 'dashboard' %}"
                                   class="btn btn-outline-warning">{% trans "Yopish" %}
                                </a>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div id="edit_author_div"></div>
                    <div id="edit_article_form_error"></div>
                </div>
                <br>
                <hr>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'get_article_authors' article.id %}",
                    success: function (response) {
                        $("#authors_table").empty();
                        let tr = 0;
                        for (let item of response.authors) {
                            tr++;
                            let temp =
                                "<tr>" +
                                "<td>" + tr + "</td>" +
                                "<td>" + item.lname + "</td>" +
                                "<td>" + item.fname + "</td>" +
                                "<td>" + item.mname + "</td>" +
                                "<td>" + item.email + "</td>" +
                                "<td>" + item.scientific_degree__name + "</td>" +
                                "<td>" + item.work + "</td>" +
                                "<td class='with-btn' nowrap>" +
                                `<button type="button" class="btn btn-xs btn-warning edit-author" data-url="${response.edit_url}${item.id}/"><i class="fa fa-edit mr-1"></i>O'zgartirish</button>` + " " +
                                `<button type="button" class="btn btn-xs btn-danger remove-author" data-url="${response.delete_url}${item.id}/"><i class="fa fa-trash mr-1"></i>O'chirish</button>` +
                                "</td>" +
                                "</tr>";
                            $("#authors_table").append(temp);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }, 2000);
        });
    </script>
{% endblock %}