{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Update Article
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h3 class="page-header">{% trans "Update Article" %}</h3>
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default forshadow">
                    <div class="panel-body">
                        <div class="container">
                            <br>
                            <form data-parsley-validate="true" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media }}
                                <p>{% trans "1-qadam. Mualliflarni kiriting" %}</p>
                                <button href="{% url 'add_author' article.id %}" data-toggle="modal"
                                        class="addUser btn btn-success btn-sm"><i
                                        class="fa fa-plus mr-1"></i>{% trans "Add Author" %}
                                </button>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Tr</th>
                                            <th>{% trans "Familiya" %}</th>
                                            <th>{% trans "Ism" %}</th>
                                            <th>{% trans "Sharif" %}</th>
                                            <th>{% trans "Email" %}</th>
                                            <th>{% trans "Ish joy" %}</th>
                                            <th>{% trans "Aftor tartibi" %}</th>
                                            <th width="100">{% trans "Action" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody id="authors_table">

                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <p>{% trans "2-qadam. Quyidagi so'ralgan ma'lumotlarni to'ldiring" %}</p>
                                <div style="padding-left:10%; padding-right: 5%;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Upload File" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    <button href="{% url 'create_article_file' article.id %}"
                                                            data-toggle="modal"
                                                            class="addUser btn btn-outline-secondary"
                                                            style="width: 300px"><i
                                                            class="fa fa-file-word mr-1"></i>{% trans " File" %}
                                                    </button>
                                                    {% if message %}
                                                        <span class="text-danger">Faqat .doc yoki .docx fayl yuklay olasiz!</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15" style="visibility: hidden;">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Aftor" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    <select id="id_author" name="author" class="form-control">
                                                        <option selected
                                                                value="{{ article.author.id }}">{{ article.author.username }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label"> {% trans "Section" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    {{ form.section }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Title" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    {{ form.title|safe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Keywords" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    {{ form.keywords|safe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Abstract" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    {{ form.abstract|safe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row m-b-15">
                                                <label class="col-md-2 col-sm-2 col-form-label">{% trans "Reference" %}
                                                    <span
                                                            class="text-danger">*</span></label>
                                                <div class="col-md-10 col-sm-10">
                                                    {{ form.references|safe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 1em">
                                        <div class="col-md-6 col-sm-6"></div>
                                        <div class="col-md-6 col-sm-6">
                                            <button type="submit" style="float: right;" id="submitButtonId"
                                                    class="btn btn btn-success">{% trans "Saqlash" %}
                                            </button>
                                            <a style="float: right; margin-right: 1em" href="{% url 'dashboard' %}"
                                               class="btn btn-outline-warning">{% trans "Yopish" %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "/authors/{{ article.id }}",
                    success: function (response) {
                        $("#authors_table").empty();
                        let tr = 0;
                        for (let item of response.authors) {
                            tr++;
                            let temp =
                                "<tr>" +
                                "<td>" + tr + "</td>" +
                                "<td>" + item.last_name + "</td>" +
                                "<td>" + item.first_name + "</td>" +
                                "<td>" + item.middle_name + "</td>" +
                                "<td>" + item.email + "</td>" +
                                "<td>" + item.work_place + "</td>" +
                                "<td>" + item.author_order + "</td>" +
                                "<td class='with-btn' nowrap>" +
                                `<a class="userModal btn btn-sm btn-outline-primary" href="/author/edit/${item.id}">Edit</a>` + " " +
                                `<a class="userModal btn btn-sm btn-outline-danger"  href="/author/delete/${item.id}">Delete</a>` +
                                "</td>" +
                                "</tr>";
                            $("#authors_table").append(temp);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }, 150000);
        });
    </script>
{% endblock %}
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
