{% extends 'user_app/base.html' %}
{% load static %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}
    <div id="content" class="content">
        <ol class="breadcrumb float-xl-right">
            <li class="breadcrumb-item"><a href="javascript:;">Bosh sahifa</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Parol o'zgartirish</a></li>
        </ol>
        <h1 class="page-header">Parolni o'zgartirish</h1>
        <form method="POST" name="form-wizard" class="form-control-with-bg" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="wizard">
                <ul>
                    <li>
                        <a href="#step-1">
                            <span class="number">!</span>
                            <span class="info">
									Parolni o'zgartirish.
									<small>Joriy parolizni yangisiga almashtiring</small>
								</span>
                        </a>
                    </li>
                </ul>
                <div style="background-color: #f8f8f8">
                    <div id="step-1">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <br>
                                <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"
                                        style="text-align: center;"> Parol o'zgartirish
                                </legend>
                                <!-- begin form-group -->
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label">Eski parol </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="old_password" autocomplete="current-password"
                                               autofocus
                                               required id="id_old_password" data-parsley-group="step-1"
                                               data-parsley-required="true"
                                               class="form-control" placeholder="Old Password"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label">Yangi parol </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="new_password1" autocomplete="new-password" required
                                               id="id_new_password1" data-parsley-group="step-1"
                                               data-parsley-required="true"
                                               class="form-control" placeholder="New Password"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label">Yangi parolni
                                        takrorlang </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name="new_password2" autocomplete="new-password" required
                                               id="id_new_password2" data-parsley-group="step-1"
                                               data-parsley-required="true"
                                               class="form-control"
                                               placeholder="New password confirmation"/>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <button type="submit"
                                                class="btn btn-success btn-block">Saqlash
                                        </button>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-lg-2 col-xs-2"></div>
            <div class="col-lg-8 col-xs-8">
                {% if result == -1 %}
                    <div class="alert alert-danger" style="text-align: center">
                        <strong>Diqqat!</strong> Siz kiritgan joriy parol xato yoki yangi parol biri ikkinchisiga mos
                        emas.
                    </div>
                {% endif %}
                {% if result == 2 %}
                    <div class="alert alert-warning">
                        <strong>Ogohlantirish!</strong>
                        <ul>
                            <li>Siz kiritgan joriy parolni to'g'ri kiriting.</li>
                            <li>Siz kiritgan yangi parollar bir - biriga mos kelishi kerak.</li>
                            <li>Kamida 8 ta belgidan iborat bo'lsin.</li>
                        </ul>
                    </div>
                {% endif %}
                {% if result == 1 %}
                    <div class="alert alert-success" style="text-align: center">
                        <strong>Muvafaqqiyat!</strong> Sizni joriy paroliz yangisiga muvafaqqiyatli o'zgartirildi.
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-2 col-xs-2"></div>
        </div>
    </div>
{% endblock %}