{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block base_content %}
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-v1">
            <!-- begin login-container -->
            <div class="login-container">
                <!-- begin login-header -->
                <div class="login-header">
                    <div class="brand">
						<span class="logo">
							<span class="text-blue">D</span>
							<span class="text-blue">T</span>
							<span class="text-blue">M</span>
						</span>
                        <b>Tizimga kirish</b>
                        <small>Onlayn axborotnoma jurnali</small>
                    </div>
                    <div class="icon">
                        <img src="{% static 'img/version.png' %}" width="100" alt=""/>
                    </div>
                </div>
                <!-- end login-header -->
                <!-- begin login-body -->
                <div class="login-body">
                    <!-- begin login-content -->
                    <div class="login-content">
                        <form action="" method="POST" class="margin-bottom-0 loginForm">
                            {% csrf_token %}
                            <div class="form-group m-b-20">
                                <input type="text" name="username" class="form-control form-control-xs inverse-mode usernameLogin"
                                       placeholder="Username"/>
                            </div>

                            <div class="form-group m-b-20">
                                <input type="password" name="password"
                                       class="form-control form-control-xs inverse-mode passwordLogin" placeholder="Password"/>
                            </div>

                            <div class="login-buttons">
                                <button type="submit"
                                        class="btn btn-primary btn-block btn-lg loginBtn">{% trans "KIRISH" %}</button>
                            </div>
                            <div class="m-t-20 m-b-20 p-b-20">
                                Not a member yet? Click <a href="{% url 'register' %}">{% trans "here" %}</a> {% trans "to register." %}
{#                                Are you forgot? Click <a#}
{#                                    href="{% url 'password_reset' %}">{% trans "here" %}</a> {% trans "to reset password." %}#}
                            </div>
                            <div class="row d-flex justify-content-center" id="loginFormError"></div>
                            <hr/>
                            <p class="text-center text-grey-darker mb-0">
                                &copy; DTM 2022
                            </p>
                        </form>
                    </div>
                    <!-- end login-content -->
                </div>
                <!-- end login-body -->
            </div>
            <!-- end login-container -->
        </div>
        <!-- end login -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
           data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
{% endblock %}