{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Ro'yxatdan o'tish" %}
{% endblock %}
{% block base_content %}
    <div id="page-container" class="fade">
        <div class="login login-v1">
            <div class="login-container">
                <div class="login-header">
                    <div class="brand">
						<span class="logo">
							<span class="text-blue">D</span>
							<span class="text-blue">T</span>
							<span class="text-blue">M</span>
						</span>
                        <b>Ro'yxatdan o'tish</b>
                        <small>Onlayn axborotnoma jurnali</small>
                    </div>
                    <div class="icon">
                        <img src="{% static 'img/version.png' %}" width="120" alt=""/>
                    </div>
                </div>
                <div class="login-body">
                    <div class="login-content">
                        <form action="" method="POST" class="margin-bottom-0 registerForm">
                            {% csrf_token %}
                            <div class="form-group m-b-20">
                                <input type="text" name="last_name" class="form-control form-control-xs inverse-mode last_name"
                                       placeholder="Familiya"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="text" name="first_name" class="form-control form-control-xs inverse-mode first_name"
                                       placeholder="Ism"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="text" name="middle_name" class="form-control form-control-xs inverse-mode middle_name"
                                       placeholder="Otangizni ismi"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="text" name="username" class="form-control form-control-xs inverse-mode username"
                                       placeholder="Username"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="text" name="email" class="form-control form-control-xs inverse-mode email"
                                       placeholder="Email"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="password" name="password1"
                                       class="form-control form-control-xs inverse-mode password1" placeholder="Password"/>
                            </div>
                            <div class="form-group m-b-20">
                                <input type="password" name="password2"
                                       class="form-control form-control-xs inverse-mode password2"
                                       placeholder="Re-enter password"/>
                            </div>
                            <br>
                            <div class="login-buttons">
                                <button type="submit"
                                        class="UserModal btn btn-primary btn-block btn-lg registerBtn">{% trans "Ro'yxatdan o'tish" %}</button>
                            </div>
                            <div class="m-t-30 m-b-30 p-b-30">
                                {% trans "Already a member? Click" %} <a
                                    href="{% url 'login' %}">{% trans "here" %}</a> {% trans "to login." %}
                            </div>
                            <div class="row d-flex justify-content-center" id="registerFormError"></div>
                            <hr/>
                            <p class="text-center mb-0">
                                &copy; DTM 2022
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
           data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    </div>
{% endblock base_content %}